@charset "UTF-8";

body{
    background-color:#AEE6B1;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
color: #3A613C;
}
#principal{
    text-align: center;
    background-color:#1D6120;
    color: white;
}
h2{
color: #34AD3A;
}
.basico{
    color: #43E04B;

}
.intermediario{
    color: #dad421;

}
.avancado{
    color: #e04343;

}
.destaque{
    background-color: hsl(58, 70%, 77%);
}