@charset "UTF-8";

/*Todas as demais mídias */
@media print {   
                /*IMPRESSÕES */
* {
    font-family: 'Courier New', Courier, monospace;

}
body {
    background-image: url(../imagens/back-print.jpg);/* desnecesário */
}
main h1 {
    text-shadow: none;
    color: black;
}
main {
    width: 90vw;
    border: 2px solid black;
}
main::after {
    content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
    text-decoration: overline;
}

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}


}
@media screen and (min-width:760px) and (max-width:992px) {   /*TABLETE */

body {
    background-image: url(../imagens/back-tablet.jpg);
}
img#phone {display: none;}
img#tablet {display: block;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}
    
}
@media screen and (min-width:992px) and (max-width:1200px) {  /*DESKTOP */

body {
    background-image: url(../imagens/back-pc.jpg);
}
img#phone {display: none;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: block;}
img#tv {display: none;}

}
@media screen and (min-width:1200px) {  /*GRANDES TELAS */

body {
    background-image: url(../imagens/back-tv.jpg);
}
main {
    width: 700px;
}

img#phone {display: none;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: block;}
}